[**@codebolt/codeboltjs**](../README.md)

***

[@codebolt/codeboltjs](../globals.md) / TestRun

# Interface: TestRun

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:102](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L102)

## Properties

### completedAt?

> `optional` **completedAt**: `string`

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:110](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L110)

***

### createdAt

> **createdAt**: `string`

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:108](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L108)

***

### id

> **id**: `string`

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:103](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L103)

***

### name

> **name**: `string`

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:105](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L105)

***

### status

> **status**: [`TestRunStatus`](../type-aliases/TestRunStatus.md)

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:106](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L106)

***

### testCases

> **testCases**: [`TestRunCase`](TestRunCase.md)[]

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:107](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L107)

***

### testSuiteId

> **testSuiteId**: `string`

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:104](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L104)

***

### updatedAt

> **updatedAt**: `string`

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:109](https://github.com/codeboltai/codeboltjs/blob/a8724faf1fbd91d41208870e38936af70f149d77/packages/codeboltjs/src/types/autoTesting.ts#L109)
