---
title: TestRun
---

[**@codebolt/codeboltjs**](../index)

***

# Interface: TestRun

Defined in: packages/codeboltjs/src/types/autoTesting.ts:102

## Properties

| Property | Type | Defined in |
| ------ | ------ | ------ |
| <a id="completedat"></a> `completedAt?` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:110](packages/codeboltjs/src/types/autoTesting.ts#L110) |
| <a id="createdat"></a> `createdAt` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:108](packages/codeboltjs/src/types/autoTesting.ts#L108) |
| <a id="id"></a> `id` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:103](packages/codeboltjs/src/types/autoTesting.ts#L103) |
| <a id="name"></a> `name` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:105](packages/codeboltjs/src/types/autoTesting.ts#L105) |
| <a id="status"></a> `status` | [`TestRunStatus`](../type-aliases/TestRunStatus) | [packages/codeboltjs/src/types/autoTesting.ts:106](packages/codeboltjs/src/types/autoTesting.ts#L106) |
| <a id="testcases"></a> `testCases` | [`TestRunCase`](TestRunCase)[] | [packages/codeboltjs/src/types/autoTesting.ts:107](packages/codeboltjs/src/types/autoTesting.ts#L107) |
| <a id="testsuiteid"></a> `testSuiteId` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:104](packages/codeboltjs/src/types/autoTesting.ts#L104) |
| <a id="updatedat"></a> `updatedAt` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:109](packages/codeboltjs/src/types/autoTesting.ts#L109) |
