---
title: TestRun
---

[**@codebolt/codeboltjs**](../README)

***

# Interface: TestRun

Defined in: [packages/codeboltjs/src/types/autoTesting.ts:102](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L102)

## Properties

| Property | Type | Defined in |
| ------ | ------ | ------ |
| <a id="completedat"></a> `completedAt?` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:110](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L110) |
| <a id="createdat"></a> `createdAt` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:108](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L108) |
| <a id="id"></a> `id` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:103](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L103) |
| <a id="name"></a> `name` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:105](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L105) |
| <a id="status"></a> `status` | [`TestRunStatus`](../type-aliases/TestRunStatus) | [packages/codeboltjs/src/types/autoTesting.ts:106](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L106) |
| <a id="testcases"></a> `testCases` | [`TestRunCase`](TestRunCase)[] | [packages/codeboltjs/src/types/autoTesting.ts:107](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L107) |
| <a id="testsuiteid"></a> `testSuiteId` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:104](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L104) |
| <a id="updatedat"></a> `updatedAt` | `string` | [packages/codeboltjs/src/types/autoTesting.ts:109](https://github.com/codeboltai/codeboltjs/blob/5bb856e41fe1f2472321cbac2497f5041bf947fb/packages/codeboltjs/src/types/autoTesting.ts#L109) |
